In [1]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv("./titanic.csv", index_col='PassengerId')

In [24]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [26]:
answers = {}

In [27]:
for key,val in df["Sex"].value_counts().to_dict().items():
    answers[key] = val

In [28]:
answers["survived"] = np.round(100 * df["Survived"].sum() / df["Survived"].count(), 2)

In [19]:
df["Pclass"].value_counts() / df["Pclass"].count()

3    0.551066
1    0.242424
2    0.206510
Name: Pclass, dtype: float64

In [30]:
answers["first_class"] = 0.24

In [31]:
answers

{'male': 577, 'female': 314, 'survived': 38.38, 'first_class': 0.24}

In [32]:
df["Age"].mean()

29.69911764705882

In [33]:
df["Age"].median()

28.0

In [34]:
df.corr()

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [50]:
df1 = df[df["Sex"]=='female']

In [73]:
d_mrs = df1[df1["Name"].str.contains("Mrs.")]["Name"].to_dict()
d_miss = df1[df1["Name"].str.contains("Miss.")]["Name"].to_dict()
d_madame = df1[df1["Name"].str.contains("Mme.")]["Name"].to_dict()

In [74]:
surname = {}
for idx,name in d_miss.items():
    surname[idx] = name.split("Miss. ")[-1].split()[0]

In [88]:
for idx,name in d_mrs.items():
    if "(" not in name:
        surname[idx] = name.split("Mrs. ")[-1].split()[0]
    else:
        surname[idx] = name.split("(")[-1].split()[0]

In [95]:
for idx,name in d_madame.items():
    print(name)

Aubart, Mme. Leontine Pauline

In [97]:
[name for name in df1["Name"].tolist() if "Mrs." not in name if "Miss." not in name]

['Aubart, Mme. Leontine Pauline',
 'Reynaldo, Ms. Encarnacion',
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
 'Sagesser, Mlle. Emma',
 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")',
 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)',
 'Leader, Dr. Alice (Farnham)']

In [98]:
d_names = df1["Name"].to_dict()

In [107]:
surname = {}

for idx,name in d_names.items():
    if "(" in name:
        tmp = name.split("(")[-1].split()[0]
        surname[idx] = tmp if ")" not in tmp else tmp.rstrip(")")
    if "Mrs" in name:
        if idx not in surname:
            surname[idx] = name.split("Mrs. ")[-1].split()[0]
    if "Miss" in name:
        if idx not in surname:
            surname[idx] = name.split("Miss. ")[-1].split()[0]
    if "Mme." in name:
        if idx not in surname:
            surname[idx] = name.split("Mme. ")[-1].split()[0]
    if "Ms." in name:
        if idx not in surname:
            surname[idx] = name.split("Ms. ")[-1].split()[0]
    if "Mlle." in name:
        surname[idx] = name.split("Mlle. ")[-1].split()[0]
    if "Dr." in name:
        surname[idx] = name.split("Dr. ")[-1].split()[0]

In [112]:
df2 = pd.Series(surname)

In [114]:
df1["Surname"] = df2

/home/laptop/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [116]:
df1["Surname"].isna().sum()

0

In [117]:
df1[["Surname", "Name"]]

                Surname                                               Name
PassengerId
2              Florence  Cumings, Mrs. John Bradley (Florence Briggs Th...
3                 Laina                             Heikkinen, Miss. Laina
4                  Lily       Futrelle, Mrs. Jacques Heath (Lily May Peel)
9             Elisabeth  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                Adele                Nasser, Mrs. Nicholas (Adele Achem)
11           Marguerite                    Sandstrom, Miss. Marguerite Rut
12            Elizabeth                           Bonnell, Miss. Elizabeth
15                Hulda               Vestrom, Miss. Hulda Amanda Adolfina
16                 Mary                   Hewlett, Mrs. (Mary D Kingcome)
19               Emelia  Vander Planke, Mrs. Julius (Emelia Maria Vande...
20               Fatima                            Masselmani, Mrs. Fatima
23                 Anna                        McGowan, Miss. Anna "Annie"
25              Torborg                      Palsson, Miss. Torborg Danira
26                Selma  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
29                Ellen                      O'Dwyer, Miss. Ellen "Nellie"
32                Marie     Spencer, Mrs. William Augustus (Marie Eugenie)
33                 Mary                           Glynn, Miss. Mary Agatha
39              Augusta                 Vander Planke, Miss. Augusta Maria
40               Jamila                        Nicola-Yarred, Miss. Jamila
41              Johanna     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
42              Dorothy  Turpin, Mrs. William John Robert (Dorothy Ann ...
44              Simonne           Laroche, Miss. Simonne Marie Anne Andree
45             Margaret                      Devaney, Miss. Margaret Delia
48              Bridget                          O'Driscoll, Miss. Bridget
50             Josefine      Arnold-Franchi, Mrs. Josef (Josefine Franchi)
53                 Myna           Harper, Mrs. Henry Sleeper (Myna Haxtun)
54            Elizabeth  Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
57                Emily                                  Rugg, Miss. Emily
59            Constance                       West, Miss. Constance Mirium
62               Amelie                                Icard, Miss. Amelie
...                 ...                                                ...
808               Ellen                    Pettersson, Miss. Ellen Natalia
810              Bertha     Chambers, Mrs. Norman Campbell (Bertha Griggs)
814                Ebba                 Andersson, Miss. Ebba Iris Alfrida
817              Wendla                       Heininen, Miss. Wendla Maria
821               Clara  Hays, Mrs. Charles Melville (Clara Jennings Gr...
824               Beila                                 Moor, Mrs. (Beila)
830              Martha          Stone, Mrs. George Nelson (Martha Evelyn)
831              Selini            Yasbeck, Mrs. Antoni (Selini Alexander)
836                Sara                        Compton, Miss. Sara Rebecca
843             Augusta                            Serepeca, Miss. Augusta
850              Edwiga       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
853           Nourelain                            Boulos, Miss. Nourelain
854                Mary                          Lines, Miss. Mary Conover
855              Lilian      Carter, Mrs. Ernest Courtenay (Lilian Hughes)
856                Leah                         Aks, Mrs. Sam (Leah Rosen)
857                Mary         Wick, Mrs. George Dennick (Mary Hitchcock)
859              Latifa              Baclini, Mrs. Solomon (Latifa Qurban)
863            Margaret  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864             Dorothy                  Sage, Miss. Dorothy Edith "Dolly"
866            Karolina                           Bystrom, Mrs. (Karolina)
867            Asuncion                       Duran y More, Miss. Asuncion
872              Sallie   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
875              Hannah              Abelson, Mrs. Samuel (Hannah Wizosky)
876               Adele                   Najib, Miss. Adele Kiamie "Jane"
880                Lily      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
881             Imanita       Shelley, Mrs. William (Imanita Parrish Hall)
883               Gerda                       Dahlberg, Miss. Gerda Ulrika
886            Margaret               Rice, Mrs. William (Margaret Norton)
888            Margaret                       Graham, Miss. Margaret Edith
889           Catherine           Johnston, Miss. Catherine Helen "Carrie"

[314 rows x 2 columns]

In [118]:
df1["Surname"].value_counts()

Anna          15
Mary          14
Elizabeth     11
Margaret      10
Alice          7
Bertha         5
Helen          5
Catherine      4
Marion         4
Maria          4
Annie          4
Emily          4
Marie          4
Florence       4
Augusta        4
Ada            4
Ellen          4
Jane           3
Madeleine      3
Hanora         3
Ida            3
Elisabeth      3
Edith          3
Katherine      3
Amelia         3
Lillian        3
"Mrs           3
Helene         2
Amy            2
Clara          2
              ..
Gerda          1
Nourelain      1
Eliina         1
Mari           1
Ruth           1
Clear          1
Edwiga         1
Marguerite     1
Grace          1
Irene          1
Pieta          1
Ebba           1
Josefine       1
Lutie          1
Daisy          1
Lilian         1
Thamine        1
Leila          1
Carla          1
Hannah         1
Torborg        1
Gretchen       1
Cordelia       1
Sara           1
Simonne        1
Erna           1
"Mary"         1
Doolina        1
Leontine       1
Margit         1
Name: Surname, Length: 177, dtype: int64

In [51]:
df1["Name"].str.split()

PassengerId
2      [Cumings,, Mrs., John, Bradley, (Florence, Bri...
3                             [Heikkinen,, Miss., Laina]
4      [Futrelle,, Mrs., Jacques, Heath, (Lily, May, ...
9      [Johnson,, Mrs., Oscar, W, (Elisabeth, Vilhelm...
10             [Nasser,, Mrs., Nicholas, (Adele, Achem)]
11                  [Sandstrom,, Miss., Marguerite, Rut]
12                          [Bonnell,, Miss., Elizabeth]
15            [Vestrom,, Miss., Hulda, Amanda, Adolfina]
16                 [Hewlett,, Mrs., (Mary, D, Kingcome)]
19     [Vander, Planke,, Mrs., Julius, (Emelia, Maria...
20                           [Masselmani,, Mrs., Fatima]
23                      [McGowan,, Miss., Anna, "Annie"]
25                    [Palsson,, Miss., Torborg, Danira]
26     [Asplund,, Mrs., Carl, Oscar, (Selma, Augusta,...
29                    [O'Dwyer,, Miss., Ellen, "Nellie"]
32     [Spencer,, Mrs., William, Augustus, (Marie, Eu...
33                         [Glynn,, Miss., Mary, Agatha]
39              [Vander, Planke,, Miss., Augusta, Maria]
40                       [Nicola-Yarred,, Miss., Jamila]
41     [Ahlin,, Mrs., Johan, (Johanna, Persdotter, La...
42     [Turpin,, Mrs., William, John, Robert, (Doroth...
44       [Laroche,, Miss., Simonne, Marie, Anne, Andree]
45                    [Devaney,, Miss., Margaret, Delia]
48                         [O'Driscoll,, Miss., Bridget]
50     [Arnold-Franchi,, Mrs., Josef, (Josefine, Fran...
53       [Harper,, Mrs., Henry, Sleeper, (Myna, Haxtun)]
54     [Faunthorpe,, Mrs., Lizzie, (Elizabeth, Anne, ...
57                                 [Rugg,, Miss., Emily]
59                     [West,, Miss., Constance, Mirium]
62                               [Icard,, Miss., Amelie]
                             ...
808                 [Pettersson,, Miss., Ellen, Natalia]
810    [Chambers,, Mrs., Norman, Campbell, (Bertha, G...
814             [Andersson,, Miss., Ebba, Iris, Alfrida]
817                    [Heininen,, Miss., Wendla, Maria]
821    [Hays,, Mrs., Charles, Melville, (Clara, Jenni...
824                               [Moor,, Mrs., (Beila)]
830     [Stone,, Mrs., George, Nelson, (Martha, Evelyn)]
831        [Yasbeck,, Mrs., Antoni, (Selini, Alexander)]
836                     [Compton,, Miss., Sara, Rebecca]
843                          [Serepeca,, Miss., Augusta]
850    [Goldenberg,, Mrs., Samuel, L, (Edwiga, Grabow...
853                          [Boulos,, Miss., Nourelain]
854                       [Lines,, Miss., Mary, Conover]
855    [Carter,, Mrs., Ernest, Courtenay, (Lilian, Hu...
856                     [Aks,, Mrs., Sam, (Leah, Rosen)]
857    [Wick,, Mrs., George, Dennick, (Mary, Hitchcock)]
859          [Baclini,, Mrs., Solomon, (Latifa, Qurban)]
863    [Swift,, Mrs., Frederick, Joel, (Margaret, Wel...
864              [Sage,, Miss., Dorothy, Edith, "Dolly"]
866                         [Bystrom,, Mrs., (Karolina)]
867                   [Duran, y, More,, Miss., Asuncion]
872    [Beckwith,, Mrs., Richard, Leonard, (Sallie, M...
875          [Abelson,, Mrs., Samuel, (Hannah, Wizosky)]
876               [Najib,, Miss., Adele, Kiamie, "Jane"]
880    [Potter,, Mrs., Thomas, Jr, (Lily, Alexenia, W...
881    [Shelley,, Mrs., William, (Imanita, Parrish, H...
883                    [Dahlberg,, Miss., Gerda, Ulrika]
886           [Rice,, Mrs., William, (Margaret, Norton)]
888                    [Graham,, Miss., Margaret, Edith]
889       [Johnston,, Miss., Catherine, Helen, "Carrie"]
Name: Name, Length: 314, dtype: object

In [46]:
names = df[df["Sex"]=='female']["Name"].tolist()

In [48]:
miss = [name for name in names if "miss" in name.lower()]
[]

['Heikkinen, Miss. Laina',
 'Sandstrom, Miss. Marguerite Rut',
 'Bonnell, Miss. Elizabeth',
 'Vestrom, Miss. Hulda Amanda Adolfina',
 'McGowan, Miss. Anna "Annie"',
 'Palsson, Miss. Torborg Danira',
 'O\'Dwyer, Miss. Ellen "Nellie"',
 'Glynn, Miss. Mary Agatha',
 'Vander Planke, Miss. Augusta Maria',
 'Nicola-Yarred, Miss. Jamila',
 'Laroche, Miss. Simonne Marie Anne Andree',
 'Devaney, Miss. Margaret Delia',
 "O'Driscoll, Miss. Bridget",
 'Rugg, Miss. Emily',
 'West, Miss. Constance Mirium',
 'Icard, Miss. Amelie',
 'Andersson, Miss. Erna Alexandra',
 'Goodwin, Miss. Lillian Amy',
 'Dowdell, Miss. Elizabeth',
 'McDermott, Miss. Brigdet Delia',
 'Ilett, Miss. Bertha',
 'Fortune, Miss. Mabel Helen',
 'Petranec, Miss. Matilda',
 'Salkjelsvik, Miss. Anna Kristine',
 'Moran, Miss. Bertha',
 'Zabour, Miss. Hileni',
 'Jussila, Miss. Katriina',
 'Attalah, Miss. Malake',
 'Andersson, Miss. Ellis Anna Maria',
 'Webber, Miss. Susan',
 'Peter, Miss. Anna',
 'Newsom, Miss. Helen Monypeny',
 'Nysten, Miss. Anna Sofia',
 'Ford, Miss. Robina Maggie "Ruby"',
 'Gilnagh, Miss. Katherine "Katie"',
 'Johnson, Miss. Eleanor Ileen',
 'Isham, Miss. Ann Elizabeth',
 'Sage, Miss. Constance Gladys',
 'Kink-Heilmann, Miss. Luise Gretchen',
 'Andersen-Jensen, Miss. Carla Christine Nielsine',
 'Lurette, Miss. Elise',
 'Madigan, Miss. Margaret "Maggie"',
 'Yrois, Miss. Henriette ("Mrs Harbeck")',
 'Strom, Miss. Telma Matilda',
 'Carr, Miss. Helen "Ellen"',
 'Cameron, Miss. Clear Annie',
 'Newell, Miss. Madeleine',
 'Honkanen, Miss. Eliina',
 'Bazzani, Miss. Albina',
 'Lefebre, Miss. Mathilde',
 'Asplund, Miss. Lillian Gertrud',
 'Harknett, Miss. Alice Phoebe',
 'Collyer, Miss. Marjorie "Lottie"',
 'Zabour, Miss. Thamine',
 'Murphy, Miss. Katherine "Kate"',
 'Lindahl, Miss. Agda Thorilda Viktoria',
 'Cherry, Miss. Gladys',
 'Ward, Miss. Anna',
 'Henry, Miss. Delia',
 'Bissette, Miss. Amelia',
 'Healy, Miss. Hanora "Nora"',
 'Andrews, Miss. Kornelia Theodosia',
 'Lindblom, Miss. Augusta Charlotta',
 'Connolly, Miss. Kate',
 'Barber, Miss. Ellen "Nellie"',
 'Haas, Miss. Aloisia',
 'Allison, Miss. Helen Loraine',
 'Kelly, Miss. Anna Katherine "Annie Kate"',
 'Keane, Miss. Nora A',
 'Fleming, Miss. Margaret',
 'Francatelli, Miss. Laura Mabel',
 'Hays, Miss. Margaret Bechstein',
 'Ryerson, Miss. Emily Borie',
 'Nilsson, Miss. Helmina Josefina',
 'Wick, Miss. Mary Natalie',
 'Slayter, Miss. Hilda Mary',
 'Young, Miss. Marie Grice',
 'Hippach, Miss. Jean Gertrude',
 'McCoy, Miss. Agnes',
 'Burns, Miss. Elizabeth Margaret',
 'Fortune, Miss. Alice Elizabeth',
 'Brown, Miss. Amelia "Mildred"',
 'Smith, Miss. Marion Elsie',
 'Bowerman, Miss. Elsie Edith',
 'Funk, Miss. Annie Clemmer',
 'McGovern, Miss. Mary',
 'Mockler, Miss. Helen Mary "Ellie"',
 'Jermyn, Miss. Annie',
 'Palsson, Miss. Stina Viola',
 'Landergren, Miss. Aurora Adelia',
 'Bidois, Miss. Rosalie',
 'Nakid, Miss. Maria ("Mary")',
 'Buss, Miss. Kate',
 'Lehmann, Miss. Bertha',
 'Newell, Miss. Marjorie',
 'Olsson, Miss. Elina',
 'Jussila, Miss. Mari Aina',
 'Oreskovic, Miss. Marija',
 'Lefebre, Miss. Ida',
 'Minahan, Miss. Daisy E',
 'Silven, Miss. Lyyli Karoliina',
 'Van Impe, Miss. Catharina',
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
 'Carter, Miss. Lucile Polk',
 'Ford, Miss. Doolina Margaret "Daisy"',
 'Mellinger, Miss. Madeleine Violet',
 'Baclini, Miss. Marie Catherine',
 'Toomey, Miss. Ellen',
 'Baclini, Miss. Helene Barbara',
 'Strandberg, Miss. Ida Sofia',
 'Hirvonen, Miss. Hildur E',
 'Lefebre, Miss. Jeannie',
 'Eustis, Miss. Elizabeth Mussey',
 'Canavan, Miss. Mary',
 "O'Sullivan, Miss. Bridget Mary",
 'Laitinen, Miss. Kristina Sofia',
 'Maioni, Miss. Roberta',
 'Perreault, Miss. Anne',
 'Ridsdale, Miss. Lucy',
 'Quick, Miss. Phyllis May',
 'Cacic, Miss. Marija',
 'Hart, Miss. Eva Miriam',
 'LeRoy, Miss. Bertha',
 'Frolicher, Miss. Hedwig Margaritha',
 'Crosby, Miss. Harriet R',
 'Andersson, Miss. Ingeborg Constanzia',
 'Andersson, Miss. Sigrid Elisabeth',
 'Ohman, Miss. Velin',
 'Meanwell, Miss. (Marion Ogden)',
 'Kelly, Miss. Mary',
 'Garside, Miss. Ethel',
 'Christy, Miss. Julie Rachel',
 'Taussig, Miss. Ruth',
 'Bourke, Miss. Mary',
 'Leitch, Miss. Jessie Wills',
 'Shutes, Miss. Elizabeth W',
 'Murphy, Miss. Margaret Jane',
 'Herman, Miss. Alice',
 'Becker, Miss. Marion Louise',
 'Longley, Miss. Gretchen Fiske',
 'Skoog, Miss. Mabel',
 'Davis, Miss. Mary',
 'Skoog, Miss. Margit Elizabeth',
 'Baclini, Miss. Eugenie',
 'Stanley, Miss. Amy Zillah Elsie',
 'Doling, Miss. Elsie',
 'O\'Leary, Miss. Hanora "Norah"',
 'Hegarty, Miss. Hanora "Nora"',
 'Turja, Miss. Anna Sofia',
 'Peters, Miss. Katie',
 'Madill, Miss. Georgette Alexandra',
 'Karun, Miss. Manca',
 'Mullens, Miss. Katherine "Katie"',
 'Barbara, Miss. Saiide',
 'Cleaver, Miss. Alice',
 'Endres, Miss. Caroline Louise',
 'Troutt, Miss. Edwina Celia "Winnie"',
 'Harper, Miss. Annie Jessie "Nina"',
 'Mannion, Miss. Margareth',
 'Ilmakangas, Miss. Pieta Sofia',
 'Allen, Miss. Elisabeth Walton',
 'Ryerson, Miss. Susan Parker "Suzette"',
 'Sinkkonen, Miss. Anna',
 'Wells, Miss. Joan',
 'Mangan, Miss. Mary',
 'Emanuel, Miss. Virginia Ethel',
 'Ayoub, Miss. Banoura',
 'Sjoblom, Miss. Anna Sofia',
 'Sage, Miss. Stella Anna',
 'Pettersson, Miss. Ellen Natalia',
 'Andersson, Miss. Ebba Iris Alfrida',
 'Heininen, Miss. Wendla Maria',
 'Compton, Miss. Sara Rebecca',
 'Serepeca, Miss. Augusta',
 'Boulos, Miss. Nourelain',
 'Lines, Miss. Mary Conover',
 'Sage, Miss. Dorothy Edith "Dolly"',
 'Duran y More, Miss. Asuncion',
 'Najib, Miss. Adele Kiamie "Jane"',
 'Dahlberg, Miss. Gerda Ulrika',
 'Graham, Miss. Margaret Edith',
 'Johnston, Miss. Catherine Helen "Carrie"']

In [49]:
[name for name in names if "miss" not in name.lower()]

['Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
 'Nasser, Mrs. Nicholas (Adele Achem)',
 'Hewlett, Mrs. (Mary D Kingcome) ',
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
 'Masselmani, Mrs. Fatima',
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
 'Spencer, Mrs. William Augustus (Marie Eugenie)',
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
 'Nye, Mrs. (Elizabeth Ramell)',
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
 'Doling, Mrs. John T (Ada Julia Bone)',
 'Robins, Mrs. Alexander A (Grace Charity Laury)',
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
 'Boulos, Mrs. Joseph (Sultana)',
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
 'Pears, Mrs. Thomas (Edith Wearne)',
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
 'Chibnall, Mrs. (Edith Martha Bowerman)',
 'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
 'Pinsky, Mrs. (Rosa)',
 'Brown, Mrs. James Joseph (Margaret Tobin)',
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
 'Hamalainen, Mrs. William (Anna)',
 'Strom, Mrs. Wilhelm (Elna Matilda Persson)',
 'Rosblom, Mrs. Viktor (Helena Wilhelmina)',
 'Touma, Mrs. Darwis (Hanne Youssef Razi)',
 'Thorne, Mrs. Gertrude Maybelle',
 'Parrish, Mrs. (Lutie Davis)',
 'Graham, Mrs. William Thompson (Edith Junkins)',
 'Mellinger, Mrs. (Elizabeth Anne Maidment)',
 'Abbott, Mrs. Stanton (Rosa Hunt)',
 'Bishop, Mrs. Dickinson H (Helen Walton)',
 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
 'Lahtinen, Mrs. William (Anna Sylfven)',
 'Kantor, Mrs. Sinai (Miriam Sternin)',
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
 'Ball, Mrs. (Ada E Hall)',
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)',
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
 'Davison, Mrs. Thomas Henry (Mary E Finck)',
 'Barbara, Mrs. (Catherine David)',
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
 'Moussa, Mrs. (Mantoura Boulos)',
 'Aubart, Mme. Leontine Pauline',
 'Meyer, Mrs. Edgar Joseph (Leila Saks)',
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
 'Trout, Mrs. William H (Jessie L)',
 'Meek, Mrs. Thomas (Annie Louise Rowley)',
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)',
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
 'Clarke, Mrs. Charles V (Ada Maria Winfield)',
 'Thorneycroft, Mrs. Percival (Florence Kate White)',
 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
 'Richards, Mrs. Sidney (Emily Hocking)',
 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)',
 'Reynaldo, Ms. Encarnacion',
 'Kenyon, Mrs. Frederick R (Marion)',
 'West, Mrs. Edwy Arthur (Ada Mary Worth)',
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
 'Turkula, Mrs. (Hedwig)',
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
 'Quick, Mrs. Frederick Charles (Jane Richards)',
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
 'Lemore, Mrs. (Amelia Milley)',
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
 'Peter, Mrs. Catherine (Catherine Rizk)',
 'Beane, Mrs. Edward (Ethel Clarke)',
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
 'Taussig, Mrs. Emil (Tillie Mandelbaum)',
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
 'Palsson, Mrs. Nils (Alma Cornelia Berglund)',
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)',
 'Silvey, Mrs. William Baird (Alice Munger)',
 'Caram, Mrs. Joseph (Maria Elias)',
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)',
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)',
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)',
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)',
 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)',
 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)',
 'Panula, Mrs. Juha (Maria Emilia Ojala)',
 'Sagesser, Mlle. Emma',
 'Bourke, Mrs. John (Catherine)',
 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)',
 'Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)',
 'Goodwin, Mrs. Frederick (Augusta Tyler)',
 'Astor, Mrs. John Jacob (Madeleine Talmadge Force)',
 'Kelly, Mrs. Florence "Fannie"',
 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")',
 'Renouf, Mrs. Peter Henry (Lillian Jefferys)',
 'Ford, Mrs. Edward (Margaret Ann Watson)',
 'Herman, Mrs. Samuel (Jane Laver)',
 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)',
 'Carter, Mrs. William Ernest (Lucile Polk)',
 'Hogeboom, Mrs. John C (Anna Andrews)',
 'Mack, Mrs. (Mary)',
 'Hocking, Mrs. Elizabeth (Eliza Needs)',
 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)',
 'Dick, Mrs. Albert Adrian (Vera Gillespie)',
 'Leader, Dr. Alice (Farnham)',
 'Osman, Mrs. Mara',
 'Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)',
 'Collyer, Mrs. Harvey (Charlotte Annie Tate)',
 'Chambers, Mrs. Norman Campbell (Bertha Griggs)',
 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)',
 'Moor, Mrs. (Beila)',
 'Stone, Mrs. George Nelson (Martha Evelyn)',
 'Yasbeck, Mrs. Antoni (Selini Alexander)',
 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)',
 'Carter, Mrs. Ernest Courtenay (Lilian Hughes)',
 'Aks, Mrs. Sam (Leah Rosen)',
 'Wick, Mrs. George Dennick (Mary Hitchcock)',
 'Baclini, Mrs. Solomon (Latifa Qurban)',
 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)',
 'Bystrom, Mrs. (Karolina)',
 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)',
 'Abelson, Mrs. Samuel (Hannah Wizosky)',
 'Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)',
 'Shelley, Mrs. William (Imanita Parrish Hall)',
 'Rice, Mrs. William (Margaret Norton)']

In [44]:
df[df["Sex"]=='male']["Name"].str.split("Mr.")

PassengerId
1                       [Braund, ,  Owen Harris]
5                      [Allen, ,  William Henry]
6                              [Moran, ,  James]
7                       [McCarthy, ,  Timothy J]
8               [Palsson, Master. Gosta Leonard]
13               [Saundercock, ,  William Henry]
14                  [Andersson, ,  Anders Johan]
17                        [Rice, Master. Eugene]
18                 [Williams, ,  Charles Eugene]
21                         [Fynney, ,  Joseph J]
22                        [Beesley, ,  Lawrence]
24                 [Sloper, ,  William Thompson]
27                      [Emir, ,  Farred Chehab]
28               [Fortune, ,  Charles Alexander]
30                          [Todoroff, ,  Lalio]
31                    [Uruchurtu, Don. Manuel E]
34                        [Wheadon, ,  Edward H]
35                      [Meyer, ,  Edgar Joseph]
36               [Holverson, ,  Alexander Oskar]
37                             [Mamee, ,  Hanna]
38                     [Cann, ,  Ernest Charles]
43                          [Kraeff, ,  Theodor]
46                     [Rogers, ,  William John]
47                            [Lennon, ,  Denis]
49                          [Samaan, ,  Youssef]
51                  [Panula, Master. Juha Niilo]
52                 [Nosworthy, ,  Richard Cater]
55               [Ostby, ,  Engelhart Cornelius]
56                            [Woolner, ,  Hugh]
58                          [Novel, ,  Mansouer]
                         ...
841                 [Alhomaki, ,  Ilmari Rudolf]
842                    [Mudd, ,  Thomas Charles]
844                  [Lemberopolous, ,  Peter L]
845                         [Culumovic, ,  Jeso]
846                         [Abbing, ,  Anthony]
847                    [Sage, ,  Douglas Bullen]
848                          [Markoff, ,  Marin]
849                          [Harper, Rev. John]
851    [Andersson, Master. Sigvard Harald Elias]
852                         [Svensson, ,  Johan]
858                      [Daly, ,  Peter Denis ]
860                            [Razi, ,  Raihed]
861                     [Hansen, ,  Claus Peter]
862                 [Giles, ,  Frederick Edward]
865                      [Gill, ,  John William]
868        [Roebling, ,  Washington Augustus II]
869                 [van Melkebeke, ,  Philemon]
870            [Johnson, Master. Harold Theodor]
871                           [Balkic, ,  Cerin]
873                    [Carlsson, ,  Frans Olof]
874                 [Vander Cruyssen, ,  Victor]
877               [Gustafsson, ,  Alfred Ossian]
878                        [Petroff, ,  Nedelio]
879                          [Laleff, ,  Kristo]
882                          [Markun, ,  Johann]
884               [Banfield, ,  Frederick James]
885                      [Sutehall, ,  Henry Jr]
887                      [Montvila, Rev. Juozas]
890                       [Behr, ,  Karl Howell]
891                         [Dooley, ,  Patrick]
Name: Name, Length: 577, dtype: object